.container-acknow h1{
    margin-top:6%;
    font-weight:600;
    color:black;
    margin-left:35%;
    align-items:center;
    text-align: center;
    font-size:55px;
    word-wrap: break-word;
    width:400px;
   
}


.btnAcknow{
    margin-top:2%;
    margin-left:45%;
}  


.btnAcknow a{
    width:140%;
    background-color:black;
    font-weight: 600;
    font-style: italic;
    height: 100px;
    color:white;
    border-radius:8px;
    font-size:20px;
    margin-top:10px;
    margin-left:-20px;
    border:none;
    outline:none;
    text-decoration:none;
    
}

.btnAcknow a:hover{
    background-color: #171719;
    cursor:pointer;
    border:none;
    outline-width: 0;
}