
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100;1,500;1,700&display=swap');



.questionForm2{
 
 margin-top:20px;
 margin-left:30px;
 border-width: 1%;
 border-bottom: 1px solid #c9c9c9;
 border-top: 1px solid #c9c9c9;
 margin-top:30px;
margin-left:30px;
 
}

.questionForm2 label{
    padding: 9px;
    font-size:15px;
    margin-bottom:1px;
    font-style: italic;
}

.questionForm2 .group{
  font-size:15px;
  margin-bottom:1px;
  font-family: 'Roboto', sans-serif;
}

.questionForm2 .question{
  font-size:15px;
  color:black;
  font-style: italic;
  font-family:  sans-serif;
  margin-bottom:1px;
}




 .form .group{
   margin-top:10px;
  font-style:italic;
  font-weight:bolder;
  font-size:19px;
 
}

.form option{
  margin-top:10px;
  margin-left:10px;
  font-size:30px;
  padding-left:30px;
}

.coments{
  margin-top: 40px;
}

.coments label{
  margin-top:30px;
  margin-left:20px;
  font-style: italic;
  
}

.coments textarea{
  color:black;
  border-color:black;
  border-radius: 10px;
  outline: none;
  width:300px;
  height:80px;
  margin-left:20px;
  

}
.anonimos{
  margin-bottom:1%;
  margin-right:50%;
  bottom:80px;
  float:right;
}

.anonimos label{
 
  font-weight:500;
  font-style:italic;

}

.anonimos input{
  margin-left:10px;
  
}



.btQuest{
  margin-top:20px;
  margin-left:10px;
  margin-bottom:30px;
  
 

}

.btEnviar{
  width:4%;
  background-color:black;
  font-weight: 800;
  height: 30px;
  color:white;
  border-radius:8px;
  font-size:12px;
  margin-top:10px;
  margin-left:10px;
  border:none;
  outline:none;
  margin-right:10px;
   
  
  }
  .btEnviar:hover{
      background-color: #171719;
      cursor:pointer;
      border:none;
      outline-width: 0;
  }

  .btCancelar{
    width:4%;
    background-color:black;
    font-weight: 800;
    height: 30px;
    color:white;
    border-radius:8px;
    font-size:12px;
    margin-top:15px;
    margin-left:10px;
    border:none;
    outline:none;
    text-decoration: none;
    }
    .btCancelar:hover{
        background-color: #171719;
        cursor:pointer;
        border:none;
        outline-width: 0;
        text-decoration: none;
    }

    .btCancelar a{
       text-decoration: none;
       color:white;
    }
     
    .groupTable{
      
    }
      
   